.navItem{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 64px;
    width: 100%;
    border-bottom: 2px solid #6D7275;
    /* border-top: 2px solid #6D7275; */
    /* border-right: 2px solid #F5F5F5; */
}

.navItem p{
    margin-left: 16px;
}

.navItem:before{
    content: '';
    position: absolute;
    right: 14px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #6D7275;
}

/* .navItem:after {
    content: '';
    position: absolute;
    left: 24px;
    width: 2px;
    height: 64px;
    background-color: #EE5EAC;
    z-index: -1 ;
} */

.navItemComp::before{
    background-color: #C20114;
}
/* .navItemComp::after{
    background-color: rgb(67, 199, 33);
} */

.navItemComp {
    composes: navItem;
    border-bottom: 2px solid #C20114;
}