.classroom{
    display: grid;
    grid-template-columns: 25% auto;
    height: 100%;
}

.content{
    grid-template-columns: 2 / 3;
    height: 100%;
    border-left: 2px solid #ECEBF3;
    position: relative;
}

